<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.kazhik.android.kmoney"
    android:versionCode="1"
    android:versionName="0.1" xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:label="Kmoney Unit Test"
        android:targetPackage="net.kazhik.android.kmoney" >
    </instrumentation>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/kmoney"
        android:installLocation="auto"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity
            android:name="net.kazhik.android.kmoney.KmoneyActivity"
            android:label="@string/app_name" tools:ignore="ExportedActivity">
            <intent-filter>


                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />
                
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
	    <activity android:name="com.dropbox.sync.android.DbxAuthActivity" />

	    		<activity
		  android:name="com.dropbox.client2.android.AuthActivity"
		  android:launchMode="singleTask" >
		  <intent-filter>
		    <data android:scheme="db-kuyk8nn6g6osz3s" />
		    <action android:name="android.intent.action.VIEW" />
		    <category android:name="android.intent.category.BROWSABLE" />
		    <category android:name="android.intent.category.DEFAULT" />
		  </intent-filter>
		</activity>
		<service
		  android:name="com.dropbox.sync.android.DbxSyncService"
		  android:enabled="true"
		  android:exported="false"
		  android:label="Dropbox Sync" />
        
        <activity
            android:name="net.kazhik.android.kmoney.MonthlyActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="net.kazhik.android.kmoney.MonthlySummaryActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="net.kazhik.android.kmoney.masterdata.CategoryListActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="net.kazhik.android.kmoney.masterdata.BankListActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="net.kazhik.android.kmoney.masterdata.CreditCardListActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="net.kazhik.android.kmoney.masterdata.EMoneyListActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="net.kazhik.android.kmoney.masterdata.UserListActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="net.kazhik.android.kmoney.SettingsActivity"
            android:label="@string/app_name" >
        </activity>
        
        <uses-library android:name="android.test.runner" />
    </application>

</manifest>